# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env*.local
.env
.env.development
.env.test
.env.production

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store # Mac
Thumbs.db # Windows
desktop.ini # Windows